.breadcrumb-section {
	padding-top: .0825em;
	padding-bottom: 0;
	background: $dark-gray;
	color: $white;
	line-height: .5;
	a {
		color: $white;
		&:hover {
			color: $light-gray;
		}
	}

	.disabled {
		color: $light-gray;
		font-weight: bold;
	}

	.breadcrumbs {
		margin-top: 10px;
		li {
			&:first-child{
				position: relative;
				a:before {
					content: url('/assets/img/ic-home-48px.svg');
					width: 15px;
					display: inline-block;
					position: relative;
					top: 3px;
					right: 3px;
				}
			}
		}
	}
}