$card-product-hover-price-color: $primary-color;
$card-product-hover-font-size: 1.5rem;
$card-product-hover-title-font-size: 1.4rem;

.card-product {
  //position: relative;
  line-height: 1.2rem;
  transition: all $ap-button-ease-time;
  border: 1px solid $blue;

  header {
    width: 100%;
    position: relative;
    padding-top: 1em;
    background: $white;
    height: 350px;
    display: flex;
    justify-content: center;
    justify-items: center;
      img {
          max-width: 100%;
          height: auto;
          max-height: 100%;
      }
  }

  .title {
    font-size: $card-product-hover-title-font-size;
    font-weight: 400;
    margin-bottom: 0.2rem;
  }
  .details {
    @include card-section;
  }

  .icons {
    width: 100%;
    align-self: flex-end;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: .25em;
      &:last-child {
        margin-bottom: 0;
      }

      svg{
        display: block;
        font-size: 1.5rem;
        line-height: rem-calc(40);
        width: rem-calc(40);
        fill: $blue;

        .cls-1{
          fill: $blue;
        }

        .cls-2 {
          fill: none;
        }
      }
    }
  }
  footer {
    background: $blue;
    position: relative;
    z-index: 200;
    a, h3 {
      color: $white;
      cursor: pointer;
      transition: color $ap-button-ease-time;
      &:hover {
        color: $medium-gray;
      }
    }
  }

}
